module.exports = {
  api: {
    gitHub: {
      baseURL: 'https://api.github.com',
      token: undefined,
    },
    zenHub: {
      baseURL: 'https://api.zenhub.io',
      token: undefined,
      unpublishedToken: undefined,
    },
    codeClimate: {
      baseURL: 'https://codeclimate.com/api',
      token: undefined,
    },
  },
  flow: {
    repos: [
      'learning-os-software',
    ],
  },
}
